*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    min-height: 100vh;
}
.topo{
    height: 80px;
    background-color: rgb(255, 255, 255);
    border: 10px black;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 20px;
    display: flex;
    font-family: 'Merriweather Sans', sans-serif;
}
.topo > img{
    height: 80px;
    mix-blend-mode: multiply;
    
}
.topo > ul{
    display: flex;
    list-style-type: none;
}
@media screen and (max-width:920px){
    ul{
        flex-direction: column;
        position: absolute;
        right: 0;
        width: 100%;
        transform: translate(100%);
    }
    .topo > input{
        display: none;
    }
    li{
        width: 100%;
        text-align: center;
        padding: 20px 0;
    }
    .burguer{
        height: 30px;
        width: 30px;
        display :flex ;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }
    .burguer > div {
        height: 4px;
        background-color: black;
        width: 30px;
        
    
    }
}
.topo > ul > a>li{
    border: solid 1px black;
    border-radius: 5px;
    margin: 10px;
    padding: 3px 10px;
    box-shadow: 1px 1px 1px #666666;
    cursor: pointer;
    color: black;
    transition: 0.5s;

}
.topo > ul >a> li:hover{
    background-color: rgb(182, 182, 182);
    color: white;
    box-shadow: none;
    transform: translateX(1px) translateY(1px);

}
.topo > ul > a > li > img{
    width: 20px;
    display: flex;
    flex-wrap: wrap;
}

.remedios{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(235, 235, 235);
    font-family: 'Nunito Sans', sans-serif;
    padding: 50px;
}
.remedios > div{
    border-radius: 8px;
    width: 302px;
    height: 400px;
    padding: 10px;
    margin: 15px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: 8px;
}
.comprar{
    align-items: center;
    color: green;
    display: flex;
    text-align: center;
}
.remedios>div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.remedios>div>button{
    border-radius: 19px;
    padding: 0px;
    width: 150px;
    height: 40px;
    background-color: rgb(0, 68, 255);
    box-shadow: 1px 2px 0px rgb(120, 83, 255) ;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 00.5s;
}
.remedios > div > button:hover{
    background-color: rgb(12, 3, 97);
    color: white;
    box-shadow: none;
    transform: translateX(1px) translateY(1px);
}
.remedios > div > img{
    width: 150px;
    height: 200px;    
}
.remedios > div > h2{
    font-size: 25px;
    color: rgb(29, 58, 151);
    font-family: 'Merriweather Sans', sans-serif;
}
.topo > input{
    width: 500px;
    border-radius: 10px;
    height: 40px;
    background-color: rgb(231, 231, 231);
    padding: 10px;
    border: 0;
    margin: 150px;
}
.topo > ul > li{
    border: solid;
}
.topo > ul > a{
    text-decoration: none;
}
